<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Agile-интервизия</title>
  <meta name="description"
        content="Agile-интервизия – это группа взаимопомощи для agile-коучей и scrum-мастеров, на ней участники получают ответы на свои вопросы, рекомендации или поддержку."/>
  <link rel="canonical" href="https://agileintervision.ru/"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <meta property="og:type" content="website"/>
  <meta name="og:title" content="Agile-интервизия"/>
  <meta name="og:description"
        content="Agile-интервизия – это группа взаимопомощи для agile-коучей и scrum-мастеров, на ней участники получают ответы на свои вопросы, рекомендации или поддержку."/>
  <meta name="og:image" content="https://agileintervision.ru<%= require('assets/image.jpg') %>"/>
  <meta name="og:url" content="https://agileintervision.ru/"/>
  <meta name="og:locale" content="ru_RU"/>

  <link rel="stylesheet" type="text/css" href="<%= require('style.css') %>"/>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163700219-1"></script>
  <script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-163700219-1');
  </script>
  <link rel="apple-touch-icon" sizes="152x152" href="<%= require('favicons/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('favicons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('favicons/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= require('site.webmanifest') %>"/>
  <link rel="mask-icon" href="<%= require('favicons/safari-pinned-tab.svg') %>" color="#14b5d0">
  <link rel="shortcut icon" href="<%= require('favicon.ico') %>"/>
  <meta name="msapplication-TileColor" content="#603cba"/>
  <meta name="msapplication-config" content="<%= require('browserconfig.xml') %>"/>
  <meta name="theme-color" content="#f1fbfc"/>
</head>
<body>
<div class="header">
  <div class="header-overlay"></div>
  <div class="header-content">
    <div class="container">
      <h1>Agile-интервизия</h1>
      <div class="subheader" style="padding-left: 2px;">Гайд для фасилитатора</div>
    </div>
  </div>
</div>

<div class="container">
  <p>Agile-интервизия – это группа взаимопомощи для agile-коучей и scrum-мастеров.</p>

  <p>На интервизии участники в небольшом кругу (до 20 человек) делятся своими запросами и получают от других
    участников то, что для них ценно: ответы на свои вопросы, поддержку, рекомендации или истории о чужом опыте.</p>

  <p>Главный фокус интервизий и их отличие от случайной группы обмена опытом – доверительная и поддерживающая
    атмосфера (которую можно создать благодаря правилам и формату встреч, а также повышенному внимания ведущего к этому
    вопросу).</p>

  <blockquote class="warning gutter">
    <h5>Дисклеймер</h5>
    <p>
      Мы – <a href="#about-us">Евгения Чумачкова</a> и <a href="#about-us">Александра Баптизманская</a> начали проводить
      agile-интервизии в Санкт-Петербурге в 2018 году. С тех пор сообщество сильно выросло, а география расширилась.
    </p>
    <p>
      Мы создали этот гайд, чтобы больше людей могли проводить интервизии и участвовать в них. В гайде описан формат
      проведения agile-интервизий, который мы используем на наших встречах и считаем оптимальным.
    </p>
  </blockquote>

</div>

<section class="container">
  <h2>Для кого</h2>
  <p>
    Agile-интервизия рассчитана на agile-коучей и scrum-мастеров и
    не предполагает участия представителей других ролей.
  </p>

  <blockquote>
    <h5>Почему так?</h5>
    Представители помогающей профессии больше всего сталкиваются с выгоранием, отсутствием поддержки на
    работе и непониманием своей роли со стороны коллег. Эта роль часто требует нетривиального “ответа” на те или иные
    ситуации в команде или компании, отличающегося от ответа тимлида, менеджера проектов или участника команды.
  </blockquote>
</section>

<section class="container">
  <h2>Правила</h2>

  <ol>
    <li>Правило Вегаса</li>
    <li>Свобода от критики и оценок</li>
    <li>Взаимоуважение</li>
    <li>Все участники равны</li>
    <li>Ведущие могут модерировать дискуссию</li>
    <li>Участники внимательны к запросу</li>
  </ol>

  <div class="highlight">
    <ol class="narrow" start="6">
      <li class="no-bullet"><b>Только для онлайн-интервизий</b></li>
      <li>Полное присутствие (закрыть все остальные окна и выключить уведомления)</li>
      <li>Включенная камера</li>
      <li>Выключенный микрофон, когда говорят другие</li>
    </ol>
  </div>
</section>

<div class="container">
  <section>
    <h2>План проведения</h2>

    <p>
      Подготовьте плакаты с правилами интервизии и описанием того, как она проходит, разместите их в таком месте,
      чтобы они были хорошо видны на протяжении всей встречи, поставьте стулья в кружок.
    </p>

    <div class="gallery">
      <div class="gallery-image">
        <img class="photo" src="<%= require('assets/poster1_sm.jpg') %>"
             data-original="<%= require('assets/poster1.png') %>"
             alt="Правила agile-интевизии"/>
      </div>

      <div class="gallery-image">
        <img class="photo" src="<%= require('assets/poster2_sm.jpg') %>"
             data-original="<%= require('assets/poster2.png') %>"
             alt="Правила agile-интевизии"/>
      </div>
    </div>

    <p>План фасилитации 3-часовой оффлайн интервизии выглядит так:</p>
    <ol>
      <li>Приветствие</li>
      <li>Знакомство</li>
      <li>Рассмотрение кейсов (2-3 кейса)</li>
      <li>Перерыв (15-20 минут)</li>
      <li>Рассмотрение кейсов (2-3 кейса)</li>
      <li>Закрытие</li>
    </ol>

    <blockquote>
      Онлайн-интервизию имеет смысл сократить до 2 часов за счет уменьшения количества кейсов и более короткого
      перерыва.
    </blockquote>
  </section>
  <section>
    <h3>Приветствие</h3>
    <p class="subheader">
      Формирует атмосферу мероприятия, длительность – 7 минут
    </p>
    <p>
      Расскажите участникам о том, <b>для чего</b> вы проводите интервизию, <b>какие ценности</b> видите в ней,
      <b>какой атмосферы</b> ожидаете. Очень подробно расскажите <b>о правилах</b> и попросите подтвердить согласие с
      ними
      (например, поднять палец вверх). Подробно расскажите <b>о формате</b>, в котором будут рассматриваться кейсы,
      чтобы
      участники знали, чего ожидать.
    </p>
  </section>
  <section>
    <h3>Знакомство</h3>
    <p class="subheader">Длительность – 10 минут</p>
  </section>
  <section>
    <p>
      Просим участников по кругу представиться в таком формате:
    </p>
    <ul>
      <li>Как меня зовут?</li>
      <li>Чем я занимаюсь? Какая у меня роль?</li>
      <li>Есть ли у меня кейс, которые я хочу рассмотреть<br/>
        <i>(да/нет, не нужно рассказывать кейс)</i>
      </li>
    </ul>
  </section>

  <section>
    <h3>Рассмотрение кейсов</h3>
    <p class="subheader">5-6 кейсов по 20 минут</p>
  </section>
  <blockquote>
    <b>Кейс</b> – это любое затруднение, проблема, ситуация, вопрос или другая потребность участника, для которого ему
    требуется помощь от группы. Он может быть про конкретную проблему с командой, а может быть общим вопросом о
    том, кто как ставит цели в своих компаниях. Это может быть просьба выслушать и поддержать, или вопрос, требующий
    ссылок на материалы и литературу.
  </blockquote>

  <p>Перед тем, как переходить к рассмотрению кейса, мы просим поднять руку тех, кто готов прямо сейчас представить
    свой
    кейс. Если подняты несколько рук, мы предлагаем участникам договориться.</p>

  <p>Рассмотрение длится не более 20 минут, это время можно засечь на таймере.</p>
  <ul>
    <li>
      Владелец кейса рассказывает свой кейс и формулирует запрос - чего конкретно он хочет получить? (обратную связь,
      советы, ссылки, истории из личного опыта, вопросы, поддержку и т.п.)
    </li>

    <li>
      Затем желающие поделиться/ответить на запрос поднимают руки, и владелец кейса сам
      фасилитирует дискуссию. Ведущий помогает ему в модерации, а также внимательно следит за соблюдением правил.
    </li>

    <li>
      Когда остается около минуты, ведущий предлагает владельцу резюмировать, что полезного он для себя взял, что
      понял, что было важно.
    </li>
  </ul>

  <section>
    <h3>Закрытие</h3>
    <p class="subheader">Длительность - 15 минут</p>
    <p>
      Попросите людей в свободном порядке высказаться о том, как они чувствуют себя в конце
      встречи, с какими мыслями и осознаваниями они уходят, что для них было сегодня важно. Уделите закрытию достаточно
      времени, чтобы оно могло пройти в спокойной обстановке.
    </p>
    <blockquote>
      Закрытие помогает всем участникам ассимилировать новый опыт и эмоционально отреагировать на него.
    </blockquote>
  </section>
</div>

<div class="container">
  <h2>На что обратить внимание</h2>

  <ul>
    <li>
      От того, насколько хорошо соблюдаются правила, критически зависит атмосфера доверия и поддержки на интервизии. Мы
      верим в то, что такая атмосфера - самое важное, что дает интервизия.
    </li>

    <li>
      Ведущий должен следить за соблюдением всех правил (равенство участников, отсутствие критики, оценок, соответствие
      обратной связи тому, что было запрошено) и мягко корректировать дискуссию, если кто-то от них отклоняется.
    </li>

    <li>
      Часто оценки и критика маскируются под
      вопросы и мнения. Стоит отслеживать это и просить участников соблюдать правила и быть внимательными к запросу.
    </li>
  </ul>
  <div class="highlight">
    <ul>
      <li class="no-bullet"><b>Только для онлайн-интервизий</b></li>
      <li>Онлайн-интервизия должна быть короче, потому что сидеть 3 часа у монитора достаточно утомительно</li>
      <li>
        Уделяйте достаточное количество времени инструкциям по работе с выбранном для онлайн-конференции софтом
        <span>(например при работе в zoom стоит рассказать участникам про включение микрофона по пробелу и функции “поднять руку”)</span>
      </li>
      <li>Визуализация правил все так же важна (например, можно использовать Miro)</li>
      <li>Включенные камеры у всех участников повышают доверие</li>
      <li>Опаздывающие более чем на 10 минут участники рушат динамику, мы советуем не добавлять их в конференцию</li>
    </ul>
  </div>
</div>

<div id="about-us" class="container">
  <h2>Кто мы</h2>

  <p>
    Напишите нам, если у вас есть вопросы или предложения или если вы хотите присоединиться к сообществу людей,
    проводящих и участвующих в agile-интервизиях.
  </p>
  <div class="authors">
    <div class="author">
      <img class="author-photo" src="<%= require('assets/abaptizmanskaya.jpg') %>" alt="Александра Баптизманская"/>
      <div class="author-information">
        <h4 class="author-name">Александра<br/>Баптизманская</h4>
        <a rel="nofollow" class="author-link" href="https://www.facebook.com/baptizmanskaya">fb.com/baptizmanskaya</a>
      </div>
    </div>

    <div class="author">
      <img class="author-photo" src="<%= require('assets/echumachkova.jpg') %>" alt="Евгения Чумачкова"/>
      <div class="author-information">
        <h4 class="author-name">Евгения<br/>Чумачкова</h4>
        <a rel="nofollow" class="author-link" href="https://www.facebook.com/echumachkova">
          fb.com/echumachkova
        </a>
      </div>
    </div>
  </div>
</div>
<script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/zooming/2.1.1/zooming.min.js"
    async
    onload="(new Zooming({})).listen('.photo')"
></script>
<script type="text/javascript">
  function smoothScrollHandler(e) {
    var target = document.querySelector(e.target.getAttribute('href'));
    if (target) {
      try {
        target.scrollIntoView({behavior: 'smooth'});
        e.preventDefault();
      } catch (e) {
      }
    }
  }

  (function () {
    var nodes = document.querySelectorAll('a[href^="#"]');
    for (var i = 0; i < nodes.length; i++) {
      var node = nodes[i];
      node.addEventListener('click', smoothScrollHandler);
    }
  })();
</script>
</body>
</html>